#aboutBox{
    width: 80%;
    height: 80%;
    border-radius: 20px;
    background: hsla(226, 95%, 8%, 0.9);
    padding: 2%;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 17, 0.8);
    text-align: center;
    color: rgba(0, 255, 255, 0.9);
    font-size: 1.25em;
}