@font-face {
    font-family: 'roboto';
    src: url(./Roboto-Regular-webfont.woff);
}
@font-face {
    font-family: 'norsebold';
    src: url(./Norse-Bold.otf);
}
body{
    background-image: url(./head.jpg);
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'roboto';
}
button{
    background: none;
    border: none;
    color:blueviolet;
    font-size: 150%;
    font-family: 'norsebold';
    flex: 1;
    height: 60%;
}
#header,#footer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 4em;
    background: hsla(226, 95%, 8%, 0.9);
    flex:0 0 auto;
}
#footer{
    font-size: 100%;
    justify-content: center;
    color:#aaa;
}
.hcontent{
    flex:1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#title{
    font-size: 500%;
    font-family: 'norsebold';
    color: rgb(0, 0, 17);
}
#subtitle{
    font-size: 200%;
    font-family: 'norsebold';
    color: rgb(0, 0, 17);
    margin-top: -13%;
    margin-bottom: 2%;
}
#menu{
    border-width: 0px 2px;
    border-style: solid;
    border-color: rgba(0, 0, 17, 0.8);
}